div.form-group
  label(for="g-filesystem-import-duplicate-files") Duplicate Files
  select.form-control#g-filesystem-import-duplicate-files
    option(value="false") False
    option(value="true") True
